.slider {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }
  .slider img {
    width: 100%; }
  @media (max-width: 415px) {
    .slider {
      display: none; } }

.banners {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px; }
  @media (max-width: 1024px) {
    .banners {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 768px) {
    .banners {
      margin-top: 10px; } }
  @media (max-width: 415px) {
    .banners {
      flex-wrap: wrap; } }

.banner-1 {
  width: 560px; }

.banner-2 {
  width: 560px;
  margin-left: 20px; }
  @media (max-width: 415px) {
    .banner-2 {
      margin-left: 0px;
      margin-top: 20px; } }

.banner-1-1, .banner-2-1 {
  position: relative;
  height: 540px; }
  @media (max-width: 415px) {
    .banner-1-1, .banner-2-1 {
      height: 260px; } }

.banner-1-2, .banner-2-2 {
  position: relative;
  height: 260px; }

.banner-1-1, .banner-2-2 {
  margin-bottom: 20px; }

.banner-1-2 {
  background: url(../images/banners/banner-1-2.jpg) right; }

.banner-1-1 {
  background: url(../images/banners/banner-1-1.jpg) right; }
  @media (max-width: 415px) {
    .banner-1-1 {
      background: url(../images/banners/banner-1-1.jpg) right top; } }

.banner-2-1 {
  background: url(../images/banners/banner-2-1.jpg) center; }
  @media (max-width: 415px) {
    .banner-2-1 {
      background: url(../images/banners/banner-2-1.jpg) top; } }

.banner-2-2 {
  background: url(../images/banners/banner-2-2.jpg) center; }

.banners > div > a > div:hover .banner-pic-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.3; }

.banner-label {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  display: inline-block;
  background-color: azure; }

.banner-label-category {
  font-size: 24px;
  font-weight: bold;
  color: deeppink; }

.banner-label span {
  margin-left: 15px;
  margin-right: 15px;
  display: block; }

.featured {
  margin-top: 20px; }
  .featured .featured-title {
    margin: 0 auto;
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center; }
    @media (max-width: 415px) {
      .featured .featured-title {
        width: 300px; } }
  .featured .featured-subtitle {
    display: block;
    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto 20px; }
    @media (max-width: 415px) {
      .featured .featured-subtitle {
        width: 300px; } }
  @media (min-width: 1025px) {
    .featured .featured-line {
      display: flex;
      justify-content: space-between; } }
  @media (max-width: 1024px) {
    .featured .featured-line {
      overflow: auto;
      white-space: nowrap; } }
  .featured .featured-line .item {
    height: 350px;
    margin-bottom: 25px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.11); }
    @media (max-width: 1024px) {
      .featured .featured-line .item {
        margin-left: 15px;
        margin-right: 15px;
        display: inline-block; } }
    .featured .featured-line .item:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .featured .featured-line .add-to-cart {
    display: none; }

.featured-info {
  font-size: 17px;
  padding: 5px;
  line-height: 30px;
  color: #222222; }
  .featured-info > .title, .featured-info .price {
    display: block; }
  .featured-info:hover .price {
    display: inline-block; }
  .featured-info > .price {
    color: #f16d7f; }

.promotion {
  display: flex;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .promotion {
      height: 100%; } }

.promotion-image {
  width: 65%; }
  .promotion-image img {
    height: 530px; }
  @media (max-width: 1024px) {
    .promotion-image {
      display: none; } }

.promotion-details {
  height: 530px;
  width: 100%;
  background-color: #222224;
  padding: 30px 20px 20px; }
  @media (max-width: 1024px) and (min-width: 415px) {
    .promotion-details {
      height: 100%;
      padding: 10px;
      display: flex; } }
  .promotion-details .logo {
    display: inline-block;
    height: 160px;
    margin-right: 20px;
    float: left; }
    @media (max-width: 1024px) and (min-width: 415px) {
      .promotion-details .logo {
        display: none; } }
    .promotion-details .logo img {
      width: 60px; }
  .promotion-details .detail {
    height: 150px;
    color: azure;
    line-height: 25px;
    margin-top: 10px; }
    @media (max-width: 1024px) and (min-width: 415px) {
      .promotion-details .detail {
        padding: 10px; } }
  .promotion-details .title {
    display: inline-block;
    font-size: 31px;
    font-weight: 800; }
    @media (max-width: 1024px) and (min-width: 415px) {
      .promotion-details .title {
        color: #f16d7f; } }
  .promotion-details .description {
    font-weight: lighter;
    line-height: 30px; }
    @media (max-width: 1024px) and (min-width: 415px) {
      .promotion-details .description {
        line-height: 25px; } }

/*# sourceMappingURL=index.css.map */
