.catalog {
  float: left;
  width: 250px;
  height: 700px;
  display: inline-block; }
  @media (max-width: 1140px) {
    .catalog {
      display: none; } }
  .catalog .accordion {
    width: 100%;
    display: inline-block; }
  .catalog button {
    background-color: white;
    border-left: 5px solid #f16d7f;
    border-bottom: 1px solid #ebebeb;
    color: #ef5b70;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px; }
  .catalog .panel {
    padding: 0 18px;
    background-color: white;
    display: none; }
  .catalog ul > li {
    height: 40px;
    font-size: 14px;
    color: #6f6e6e; }
    .catalog ul > li:hover {
      color: #484748; }

div.sort label, div.show label {
  height: 30px;
  width: 70px;
  background-color: #ffffff;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 0;
  padding: 0;
  float: left;
  border-right: 0; }

select#sort, select#show {
  height: 30px;
  width: 70px;
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-left: 0;
  padding: 0;
  float: left;
  font-size: 15px; }

div.filters-goods {
  margin-left: 20px;
  margin-bottom: 40px;
  display: inline-block; }
  @media (min-width: 1140px) {
    div.filters-goods {
      width: 75%; } }
  @media (max-width: 1024px) {
    div.filters-goods {
      display: block;
      margin-left: 0px; } }

div.filters {
  height: 190px; }

div.filters-options {
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px; }
  @media (max-width: 1024px) {
    div.filters-options {
      justify-content: space-around; } }

@media (min-width: 768px) {
  div {
    justify-content: baseline; } }

.filters .title {
  text-transform: uppercase;
  font-weight: 900; }

.sort-show {
  background-color: #f3f3f3;
  height: 50px;
  line-height: 50px;
  padding-left: 25px; }
  .sort-show .sort {
    display: inline-block;
    margin-top: 10px; }
  .sort-show .show {
    display: inline-block;
    margin-left: 15px; }

.filters .trending-now {
  display: inline-block;
  width: 220px; }
  @media (max-width: 768px) {
    .filters .trending-now {
      display: none; } }

.filters .size .chbox-line {
  width: 300px; }
  .filters .size .chbox-line .chbox {
    display: inline-block;
    width: 65px; }

.filters .price {
  display: inline-block;
  width: 200px; }
  @media (max-width: 415px) {
    .filters .price {
      display: none; } }

.filters .filters-options {
  line-height: 30px; }

.chbox input {
  width: 17px;
  height: 17px;
  top: 6px; }

input[type='range'] {
  width: 200px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  background: none; }
  input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none; }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C; }
  input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none; }
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1; }
  input[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2; }

.rangeslider {
  position: relative;
  height: 60px;
  width: 200px;
  display: inline-block; }
  .rangeslider input {
    position: absolute; }
  .rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0; }
  .rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px; }

.goods-footer {
  height: 30px;
  display: flex;
  justify-content: space-around; }
  .goods-footer .pagination {
    height: 40px;
    border: 1px solid #e1e1e1;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px; }
    @media (max-width: 415px) {
      .goods-footer .pagination {
        display: none; } }
  .goods-footer a {
    width: 25px;
    display: inline-block;
    text-align: center;
    color: #777777;
    font-size: 16px; }

div.goods-footer button {
  background-color: transparent;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  width: 150px;
  float: right; }
