$font_xs: 13px
$font_s: 15px
$font_m: 17px
$font_l: 19px
$font_xl: 25px

$hor_max: 1140px
$pad_vert: 768px
$pad_hor: 1024px

$basic_pink: #f16d7f
$hover_pink: #f1a49a

body
    font-family: Lato, sans-serif

*
    box-sizing: border-box
    outline: none

a
    text-decoration: none
    color: #898989
    &:hover
        color:  #222222

.center
    max-width: $hor_max
    margin: 0 auto

.flex
    display: flex
    &.space
        justify-content: space-between


button
    border: none
    height: 40px
    padding-left: 30px
    padding-right: 30px
    text-align: center
    font-size: $font_s
    &.basic
        background-color: $basic_pink
        color: white
        &:hover
            background-color: $hover_pink
    &.checkout
        border: 1px solid #ebebeb
        background-color: transparent
        color: #222222
        &:hover
            color: white
            background-color: #e6e6e6

form
    input[type=checkbox]
        display: inline-block
    select, input
        font-size: $font_s
        padding-left: 10px
        padding-right: 10px
        &.basic
            height: 40px
            background-color: #ffffff
            border: 1px solid #ebebeb
            &:hover
                background-color: #e6e6e6

    label
        font-size: 15px
        font-weight: 900
        &.input
            text-transform: uppercase

// Header

.header
    width: 100%
    height: 100px
    line-height: 100px
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17)

.brand
    width: 185px
    height: 100px
    @media (max-width: $pad_vert)
        width: 90px
    .brand-logo
        float: left
        padding-top: 15px
        @media (max-width: $pad_vert)
            display: none
    span
        color: #222222
        margin-left: 15px
        font-size: $font_xl
        b
            font-weight: bold
            color: $basic_pink

.search
    .search-input
        width: 320px
    .search-button
        width: 40px
        padding: 0
        background-color: transparent
        border: 1px solid #ebebeb
        border-left: none
        &:hover
            background-color: #e6e6e6
        &:active
            background-color: #afafaf

div.cart
    margin-right: 15px
    .cart-icon
        float: left
        padding: 10px 15px 5px 5px
        @media (max-width: $pad_vert)
            display: none

// Header

// Navbar

/* DROPDOWN */

/* The container <div> - needed to position the dropdown content */
.dropdown
    position: relative
    display: inline-block

/* Dropdown Content (Hidden by Default) */
.dropdown-content
    display: none
    position: absolute
    background-color: #f9f9f9
    min-width: 160px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 1

/* Links inside the dropdown */
.dropdown-content
    a
        color: black
        padding: 12px 16px
        text-decoration: none
        display: block

/* Change color of dropdown links on hover */
.dropdown-content
    a:hover
        background-color: #f1f1f1

/* Show the dropdown menu on hover */
.dropdown:hover
    .dropdown-content
        display: block

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover
    .dropbtn
        background-color: #3e8e41