section.main
    max-width: 1140px

.cart
    .goods
        height: auto
    .product, .header
        height: 200px
        box-shadow: none
        border-bottom: 1px solid #e1e1e1
    .header
        height: 100px
        > div
            float: left
            text-transform: uppercase
            width: 150px
            line-height: 100px
            font-size: 16px
            font-weight: 900
        .product-details
            width: 320px
        .unite-price, .quantity, .shipping, .subtotal
            width: 170px
            text-align: center
        .action
            width: 140px
            text-align: center

    li.product
        > div
            height: 200px
        div.picture-description
            padding-top: 15px
            width: 320px
            float: left
            .picture
                height: 170px
                float: left
                img
                    height: 160px
                    margin-right: 15px
            .description
                display: inline-block
                height: 155px
                width: 150px
                .name
                    text-transform: uppercase
                    font-size: 14px
                    font-weight: 800
                    line-height: 90px
                .color p, .size p
                    display: inline-block
                    line-height: 20px
                    color: #000000
                p.color-value, p.size-value
                    color: #898989
                    font-weight: 900

        div.item-details
            height: 200px
            line-height: 200px
            font-size: 18px
            text-align: center
            .detail
                display: inline-block
                width: 170px
                height: 185px
                float: left
            .action
                width: 140px
            .quantity input
                width: 100px
                font-size: 20px
                text-align: center
            .action a img
                display: inline-block
                height: 25px
                width: 25px

    div.goods-control
        height: 150px
        padding-top: 60px
        button
            background-color: transparent
            border: 1px solid #e6e6e6
            color: #484748
            height: 50px
            display: inline-block
            text-transform: uppercase
            font-size: 16px
        button.clear
            float: left
        button.continue
            float: right
        button:hover
            background-color: #f14f5f
            color: #e1e1e1

form.checkout
    display: flex
    justify-content: space-between
    height: 350px
    width: 1140px
    margin-top: 15px
    > div
        width: 360px
        h1
            font-size: 22px
            line-height: 40px
            text-transform: uppercase
            font-weight: 800
    select, input
        width: 100%
        margin-top: 10px
        height: 45px
        display: block
        background-color: #ffffff
        border: 1px solid #ebebeb
        padding-left: 10px
        &:hover
            background-color: #e6e6e6

    .proceed
        background-color: #f5f3f3
        height: 220px
        .total
            width: 300px
            margin: 0 auto 20px
            padding-bottom: 20px
            padding-top: 20px
            text-align: right
            border-bottom: 1px #898989 solid
            p
                display: inline-block
                margin-left: 10px
                line-height: 30px
                text-transform: uppercase
    .grand-total
        font-size: 20px
        font-weight: 800

    button
        width: 300px
        margin: 0 auto
        display: block
        text-transform: uppercase
