* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Lato, sans-serif;
}

button {
    background-color: #f16d7f;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.center {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.header-center {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.brand {
    width: 185px;
    height: 70px;
}

.brand .brand-logo {
    width: 80px;
    float: left;
}

.brand span {
    margin-top: 15px;
    display: block;
    font-weight: 300;
    font-size: 25px;
}

.brand span b {
    font-weight: bold;
    color: #f16d7f;
}

.search input {
    border: 1px solid rgba(0, 0, 0, .15);
    font-size: 20px;
    height: 40px;
}

.search .search-input {
    float: left;
    width: 320px;
    padding-left: 20px;
    display: inline-block;
}

.header .search .search {
    display: inline-block;
    width: 40px;
    background: url(images/elements/search.png) left center no-repeat;
}


.header .cart {

}

.navbar {
    height: 50px;
}

.menu {
    display: flex;
    width: 730px;
    margin: 0 auto;
    justify-content: space-between;
}

.menu a {
    display: block;
    padding: 10px 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.menu a:hover {
    color: #777777;
    border-bottom: mediumvioletred 4px solid;
}

.navbar li {
    display: inline-block;
}

.slider {
    background-image: url(images/slider.png);
    background-color: lightgrey;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
}

.banners {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 820px;
}

.banner-1, .banner-2 {
    float: left;
    width: 560px;
}

.banner-2 {
    margin-left: 20px;
}

.banner-1-1, .banner-2-1 {
    position: relative;
    height: 540px;
}

.banner-1-2, .banner-2-2 {
    position: relative;
    height: 260px;
}

.banner-1-1, .banner-2-2 {
    margin-bottom: 20px;
}

.banner-1-2 {
    background-image: url(images/banners/banner-1-2.jpg);
}

.banner-1-1 {
    background-image: url(images/banners/banner-1-1.jpg);
}

.banner-2-1 {
    background-image: url(images/banners/banner-2-1.jpg);
}

.banner-2-2 {
    background-image: url(images/banners/banner-2-2.jpg);
}

.banners > div > a > div:hover .banner-pic-overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity: 0.3;
}

.banner-label {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    display: inline-block;
    background-color: azure;
}

.banner-label-category {
    font-size: 24px;
    font-weight: bold;
    color: deeppink;
}

.banner-label span {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}

.featured {
    margin-top: 20px;
    height: 810px;
}

.featured div.item {
    height: 350px;
    float: left;
 }

.featured div.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featured div.item > div.featured-pic {
    position: relative;
    height: 265px;
    width: 270px;
}

.featured div.item:hover .featured-pic-overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
}

.featured div.item .add-to-cart {
    display: none;
}

.featured div.item .add-to-cart img {
    width: 123px;
    height: 39px;
    margin-left: 65px;
    margin-top: 105px;
}

.featured div.item:hover .add-to-cart {
    display: block;
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
}

.featured-title {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.featured-subtitle {
    display: block;
    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}

.featured-1 {
    margin-bottom: 20px;
}

.featured-1 div.featured-pic {
    background-image: url(images/goods/1.jpg);
}

.featured-2 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.featured-2 .featured-pic {
    background-image: url(images/goods/2.jpg);
}

.featured-3 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.featured-3 .featured-pic {
    background-image: url(images/goods/3.jpg);
}

.featured-4 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.featured-4 .featured-pic {
    background-image: url(images/goods/4.jpg);
}

.featured-5 .featured-pic {
    background-image: url(images/goods/5.jpg);
}

.featured-6 {
    margin-left: 20px;
}

.featured-6 .featured-pic {
    background-image: url(images/goods/6.jpg);
}

.featured-7 {
    margin-left: 20px;
}

.featured-7 .featured-pic {
    background-image: url(images/goods/7.jpg);
}

.featured-8 {
    margin-left: 20px;
}

.featured-8 .featured-pic {
    background-image: url(images/goods/8.jpg);
}

.featured-info {
    font-size: 20px;
    padding: 5px;
    line-height: 25px;
}

.featured-info > .title {
    display: block;
}

.featured-info > .price {
    display: block;
}

.featured-info:hover .price {
    display: inline-block;
}

.featured-info > .price {
    color: #f16d7f;;
}

.promotion {
    height: 530px;
    width: 1140px;
    margin-bottom: 30px;
}

.promotion-image {
    height: 530px;
    width: 760px;
    float: left;
    background-image: url(images/promotion.jpg);
}

.promotion-details {
    height: 530px;
    background-color: #222224;
    padding: 30px 10px 10px;
}

.promotion-details .detail {
    color: azure;
    line-height: 25px;
}

.promotion-details > .detail > .logo {
    height: 145px;
    width: 90px;
    float: left;
    text-align: center;
}

.promotion-details .logo-delivery {
    background-image: url(images/elements/delivery.png);
}

.promotion-details .logo-discounts {
    background-image: url(images/elements/discount.png);
}

.promotion-details .logo-quality {
    background-image: url(images/elements/quality.png);
}

div.logo img {
    margin-top: 15px;
    width: 72%;
}

.promotion-details > .detail > .title {
    line-height: 75px;
    font-size: 31px;
    font-weight: 800;
}

.promotion-details > .detail > .description {
    font-weight: lighter;
}

.communication {
    height: 440px;
    background: #888484 url(images/communication.jpg);
    background-blend-mode: screen;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto 30px;
}

.feedback {
    height: 440px;
    padding-top: 100px;
    width: 50%;
    float: left;
    display: inline-block;
    position: relative;
}

.feedback .feedback-item {
    width: 500px;
    height: 160px;
    margin: 0 auto;
}

.feedback-item .ava {
    display: block;
    width: 125px;
    height: 160px;
    float: left;
}

.feedback-item .picture {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.feedback-item .quote {
    text-align: left;
    line-height: 25px;
    font-style: italic;
}

.feedback-item .who {
    margin-top: 10px;
    text-align: left;
    line-height: 20px;
}

.feedback-item .who .name {
    color:  #f16d7f;
    font-weight: 900;
}

.feedback-item .who .place {
    font-size: 15px;
}

.subscribe {
    height: 440px;
    padding-top: 125px;
    width: 50%;
    display: inline-block;
    position: relative;
}

.subscribe-item .subscribe-text {
    line-height: 35px;
    text-transform: uppercase;
}

.subscribe-text .title {
    font-size: 25px;
}

.subscribe-form {
    margin-top: 20px;
}

.subscribe-form .subscribe-input {
    border-radius: 50px 0 0 50px;
    width: 330px;
    height: 50px;
    border: 0;
    display: inline;
    background-color: #e1e1e1;
}

.subscribe-form input {
    text-align: center;
    color: #222222;
    font-size: 11px;
}

.subscribe-form .subscribe-submit {
    border-radius: 0 50px 50px 0;
    border: 0;
    width: 100px;
    height: 50px;
    padding: 0;
    display: inline;
    background-color: #f16d7f;
    color: white;
    font-size: 10px;
}

.pre-footer {
    height: 400px;
    margin-bottom: 30px;
}

.pre-footer > .story {
    width: 45%;
    height: 400px;
    float: left;
    display: inline-block;
    line-height: 24px;
}

.story .story-part {
    display: block;
    color: #898989;
    font-weight: 300;
}

.story .brand span {
    margin-top: 0;
    line-height: 50px;

}

table {
    margin-left: 50px;
    display: inline-block;
    margin-top: -3px;

}

table th {
    text-transform: uppercase;
    color: #f16d7f;
    font-weight: 900;
    text-align: left;
    font-size: 18px;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px 20px 20px 40px;
    font-size: 16px;
}

td a {
    color: #898989;
}

.footer {
    height: 80px;
    background-color: #e6e6e6;
}








